/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F6F2;
}

/* ヘッダー（黄色の部分） */
.header {
    background-color: #F7C948;
    color: #1C1C1C;
    padding: 10px 10px;
}

/* メインコンテンツ */
main {
    text-align: center;
    color: #1C1C1C;
    margin: 50px auto;
    padding: 20px;
}

/* ボタン */
/* .btn-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #1C1C1C;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #ccc;
    color: #fff;
} */

/* フッターの固定ナビゲーションバー */
.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* border-top: 1px solid #ccc; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.footer-nav a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #444;
}

.footer-nav a:hover {
    color: #F7C948;
}

/* 以下はhome.blade.phpのCSS */

/* 検索セクション */
.search-section {
    background-color: #fff;
    border: 1px solid #8D735B;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
    font-size: 14px;
    color: #1C1C1C;
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #1C1C1C;
}

.form-input {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.form-checkbox {
    margin-right: 5px;
}

.btn-search {
    background-color: #F7C948;
    color: #1C1C1C;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.btn-search:hover {
    background-color:  #FFE08A;
}